@use "../../styles/colors" as colors;
@import "../../styles/transitions";

.Playground {
  overflow: auto;

  header,
  section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    min-height: 100vh;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      @include TextFadeIn();
      text-align: center;
      overflow-wrap: break-word;
    }
  }

  header {
    position: relative;
    @include BackgroundLinearRoller(45deg, #fe6b8b, #ff8e53);
  }

  img.Haikei {
    width: 100%;
    aspect-ratio: 960/540;
  }

  section {
    @for $i from 1 through length(colors.$meow) {
      &:nth-of-type(#{$i}) {
        background: nth(colors.$meow, $i);
      }
    }

    &.dark {
      color: colors.$white;
    }
  }
}
