.Terms {
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: "Major Mono Display";
  max-width: 45rem;
  margin: auto;
  line-height: 1.2rem;
  font-size: 0.875rem;
  text-align: center;
}
