.Footer {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0),
    rgb(0, 0, 0)
  );
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;

  p {
    color: dimgray;
    font: 14px Arial, sans-serif;
    span {
      display: inline-block;
      transform: rotate(180deg) translateY(2px);
    }
  }
}
