@use "../../styles/colors" as colors;
@import "sass-rem";

@mixin copyleft {
  display: inline-block;
  transform: scale(-1, 1);
}

#root footer {
  bottom: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;

  p {
    color: rgba($color: colors.$black, $alpha: 0.6);
    font-size: rem(14px);
    line-height: rem(24px);

    span {
      @include copyleft();
      color: colors.$red;
    }

    a {
      display: inline-block;
      color: rgba($color: colors.$black, $alpha: 0.6);
      margin-left: rem(6px);
      margin-right: rem(6px);

      &:first-of-type {
        margin-left: rem(12px);
      }
    }
  }
}
